NET "vga_red" LOC="H14";
NET "vga_green" LOC="H15";
NET "vga_blue" LOC="G15";
NET "vga_hsync" LOC="F15";
NET "vga_vsync" LOC="F14";
NET "clk_50mhz" LOC="C9";
NET "led" LOC = "F9";
NET "led0" LOC= "E12";
NET "ps2_clk" LOC="G14";
NET "ps2_data" LOC="G13";
NET "TxD" LOC = "M14";
NET "RxD" LOC = "R7";
